[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Taweesakpintakam7m1
	email = 85316246+Taweesakpintakam7m1@users.noreply.github.com
